/* Config générale (html, header, main, footer) */
html {
    font-family: Bernard MT Condensed;

}

header {
    padding: 10px 0;
    height: 80px;
    margin: -21px -8px;
    background: linear-gradient(to bottom, chartreuse, white);
}

footer {
    height: 78px;
    margin: -30px -8px;
    padding: 20px 0;
    background: linear-gradient(to top, chartreuse, white);
}

body {
    background-image: url("background.png");
    background-repeat: repeat-y;
    background-size: cover;
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: row;
}


main {
    background-color: white;
    min-height: calc(100vh - 254px);
    margin: 20px auto;
    width: 60%;
    min-width: 600px;
    padding: 30px 0;
}



/* Boutons */

.btn-nav {
    margin: 0 15px;
    padding: 6px;
    text-align: center;
    background: linear-gradient(to bottom, lightgray, white);
    width: 130px;
    height: 40px;
    border: solid 3px gold;
    border-radius: 5px;
    font-size: 15px;
    font-family: Bernard MT Condensed;
    font-weight: bold;
}

.btn-nav:hover {
    background: linear-gradient(to top, chartreuse, white);
    cursor: pointer;
    transform: translateX(2px) translateY(2px);
    box-shadow: 10px 10px 50px gray;
}

.btn-random {
    display: block;
    margin: 10px auto;
    padding: 6px;
    text-align: center;
    background: linear-gradient(to bottom, lightgray, white);
    width: 50%;
    height: 50px;
    border: solid 3px gold;
    border-radius: 5px;
    font-size: 15px;
    font-family: Bernard MT Condensed;
    font-weight: bold;

}

.btn-random:hover {
    background: linear-gradient(to top, chartreuse, white);
    cursor: pointer;
    transform: translateX(2px) translateY(2px);
    box-shadow: 10px 10px 50px gray;
}

.nav-cote {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    min-width: 300px;

}

.nav-title {
    min-width: 500px;
    width: 60%;
    text-align: center;
}


/* Liens */

a,
a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: chartreuse;
}


/* Cards*/

.card {
    margin: 30px auto;
    padding: 10px 0px;
    width: 80%;
    min-height: 350px;
    border: 2px solid chartreuse;
    border-radius: 10px;
    text-align: center;
    background: radial-gradient(lightgray, white);
}

.list-card {
    width: 80%;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    border: 2px solid chartreuse;
    border-radius: 10px;
    padding: 10px;
    margin: 50px auto;
    background-color: lightgray;

}

.list-card:hover {
    box-shadow: 10px 10px 50px gray;
    transform: translateX(2px) translateY(2px);
}

.attribut {
    font-size: x-large;
    text-align: center;
    padding: 30px;
}


h1,
h2,
h3 {
    text-align: center;
    color: black;
}

.title {
    font-weight: bold;
    height: 30px;
    width: 100%;
    margin: 0 auto;
    background-color: chartreuse;
    text-align: center;
}

.corps {
    height: 130px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    background: linear-gradient(lightgray, white)
}

.foot {
    padding-top: 5px;
    height: 25px;
    width: 100%;
    background-color: chartreuse;
    text-align: center;
}








/* Tableaux */

table {
    width: 95%;
}

tr {

    height: 40px;
    border-bottom: solid 2px gray;

}

.tableau {
    margin: 0px auto;
    padding: 10px 0 20px 0;
    text-align: center;
    width: 30%;
    min-height: 200px;
}

.assoce {
    padding: 10px 20px;
    width: 65%;
    text-align: left;
}

.valeur {
    text-align: right;
    padding: 10px 20px;
    min-width: 150px;
    height: 5px;
}

.title-right {
    position: relative;
    text-align: center;
}

.ligne .classement {
    width: 40px;
    height: 20px;
    border: solid 2px gray;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
}

.first:hover {
    box-shadow: 5px 5px 20px gold;
    transform: translateX(1px) translateY(1px);
}

.second:hover {
    box-shadow: 5px 5px 20px silver;
    transform: translateX(1px) translateY(1px);
}

.third:hover {
    box-shadow: 5px 5px 20px #cd7f32;
    transform: translateX(1px) translateY(1px);
}

.first {
    background-color: gold;
}

.second {
    background-color: silver;
}

.third {
    background-color: #cd7f32;
}